:root {
    --text-50: #f5edf7;
  --text-100: #ecdcef;
  --text-200: #d8b9df;
  --text-300: #c595d0;
  --text-400: #b272c0;
  --text-500: #9e4fb0;
  --text-600: #7f3f8d;
  --text-700: #5f2f6a;
  --text-800: #3f2046;
  --text-900: #201023;
  --text-950: #100812;

  --background-50: #f7ecf9;
  --background-100: #eed9f2;
  --background-200: #ddb3e6;
  --background-300: #cc8cd9;
  --background-400: #bb66cc;
  --background-500: #aa40bf;
  --background-600: #883399;
  --background-700: #662673;
  --background-800: #44194d;
  --background-900: #220d26;
  --background-950: #110613;

  --primary-50: #f7ebfa;
  --primary-100: #efd7f4;
  --primary-200: #e0aeea;
  --primary-300: #d086df;
  --primary-400: #c05ed4;
  --primary-500: #b136c9;
  --primary-600: #8d2ba1;
  --primary-700: #6a2079;
  --primary-800: #471551;
  --primary-900: #230b28;
  --primary-950: #120514;

  --secondary-50: #f8eafb;
  --secondary-100: #f1d4f7;
  --secondary-200: #e3a9ef;
  --secondary-300: #d57ee7;
  --secondary-400: #c754de;
  --secondary-500: #b929d6;
  --secondary-600: #9421ab;
  --secondary-700: #6f1881;
  --secondary-800: #4a1056;
  --secondary-900: #25082b;
  --secondary-950: #130415;

  --accent-50: #f9e8fc;
  --accent-100: #f3d2f9;
  --accent-200: #e7a4f4;
  --accent-300: #da77ee;
  --accent-400: #ce49e9;
  --accent-500: #c21ce3;
  --accent-600: #9b16b6;
  --accent-700: #741188;
  --accent-800: #4e0b5b;
  --accent-900: #27062d;
  --accent-950: #130317;
}

* {
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

body {
  display:flex;
  min-height: 100vh;
  background-color: var(--background-950)
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color:var(--secondary-800);
  width: clamp(10px, 30%, 350px);
  min-width: max-content;
}

.sidebar .title {
  margin: 50px;
  align-self: center;
  color:var(--text-200);
  font-size: 2em;
}

.sidebar button {
  background-color: transparent;
  color:var(--text-100);
  padding: 10px 20px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease;
}

.sidebar button:hover {
  background-color: var(--secondary-900);
  color: var(--accent-300);
  cursor: pointer;
}

svg {
  box-sizing: content-box;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.content {
  padding: 1rem;
  column-width: 250px;
  column-gap: 1rem;
  overflow-x: auto;
}

.note {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  height: fit-content;
  width: 250px;
}

.delete {
  position:absolute;
  top: 0px;
  right: 4px;
  cursor:pointer;
  z-index: 50;
  color: var(--accent-500);
}

.modal {
  position:fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal .modalContent {
  height: 600px;
  width: 1000px;
  background-color: var(--secondary-900);
  border-radius: 20px;
  padding: 40px;
  position:relative;
}

.closeButton {
  position:absolute;
  top: 10px;
  right: 12px;
}

form {
  display:flex;
  flex-direction: column;
  color: var(--accent-200);
  gap: 40px;
  height: 100%;
}

form .title, .desc {
  display:flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

input, textarea {
  background-color: var(--primary-950);
  height: 50px;
  border-radius: 10px;
  color: var(--accent-200);
  font-size: 1.5rem;
  padding: 0.5rem;
}

textarea#desc, .desc {
  flex: 1
}

#submit {
  color: var(--accent-200);
  background-color: var(--secondary-800);
  margin-top: auto;
}

.active {
  font-weight: 900;
}

.priority {
  display:flex;
  gap: 1rem;
}

.project {
  width: 400px;
  position: relative;
  z-index: 1;
}

.projInfo, .projAddTask, .task {
  background-color: var(--background-900);
  margin-top: -1rem;
  padding: 1rem;
  color: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--accent-600);
  border-top: none;
  position: relative;
}

.projInfo .title {
  margin-top: 1rem;
}

.projAddTask, .task {
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--accent-700);
  font-weight: 900;
}

.projAddTask {
  margin-left: 20px;
  width: fit-content;
}

.task:not(:first-child) {
  margin-top: -7px;
  padding-top: 23px;
}

.task:not(:first-child) .delete {
  top: 12px;
  right: 5px;
}

.task.low {
  background-color: var(--secondary-800)
}

.task.high {
  background-color: rgb(139, 0, 0);
}

.task.medium {
  background-color: rgb(80, 80, 0);
}

.inactive {
  display: none !important;
}

.task, .tasks {
  position: relative;
}

.tasks {
  z-index: 0;
}

.task {
  box-sizing: border-box;
  padding-right: 20px;
}